/* Default Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --branco: #fff;
  --azulmarinho: #1b2c58;
  --azulpiscina: #478f98;
  --amarelo: #fb8f01;
  --rosacoral: #fd4e5b;
  --laranja: #ff4d2f;
  --cinzaescuro: #474a51;
  --cor_fundo: #fffcf7;
  --navbar: #e8ebea;
}

html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffcf7;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #1b2c58;
  font-size: 11px;
}

/* Título Carrinho */
.card-title {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: var(--cor_fundo);
  box-shadow: 0 2px 5px #ffeee7;
}

.select-second-title {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.second-title {
  padding-left: 5px;
}

/* Card Imagem */
.card-image {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  background-color: var(--cor_fundo);
  box-shadow: 0 2px 5px #ffeee7;
}

.card-image-description {
  display: flex;
  align-items: center;
  width: 200px;
}

/* Botões Like e Delete */
.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 50px;
  font-size: 15px;
  align-items: center;
}

.delete-like-buttons:hover {
  cursor: pointer;
  transition: all 0.05s;
  color: var(--azulpiscina);
}

/* Quantidade */
.add-sub-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70px;
  font-size: 15px;
  align-items: center;
}

.add-sub-buttons:hover {
  cursor: pointer;
  transition: all 0.05s;
  color: var(--azulpiscina);
}

/* Preço com desconto */
.normal-price {
  text-decoration: line-through;
  color: gray;
}

/* Media Query */
@media only screen and (max-width: 754px) {
  .card-title,
  .card-image {
    min-width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .card-title,
  .card-image {
    width: 80%;
  }
}
